<div class="container">
  <h1>Angular Directives</h1>
  <p appStyle>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi impedit
    quaerat facilis quisquam, nemo minima illum fuga ullam officiis laudantium
    fugit quis inventore quia quas ab excepturi repellendus expedita earum?
  </p>

  <p checkColor [allStyles]="{ border: '1px solid blue', fontWeight: 'bold' }">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi impedit
    quaerat facilis quisquam, nemo minima illum fuga ullam officiis laudantium
    fugit quis inventore quia quas ab excepturi repellendus expedita earum?
  </p>
</div>
